{% extends 'base.html' %}
{% load static %}
{% block content  %}
<style>
body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
.dashboard-stat, .portlet {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
}
.portlet.bordered {
    border-left: 2px solid #e6e9ec!important;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
}
.list-separated {
    margin-top: 10px;
    margin-bottom: 15px;
}
.profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7;
}
.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center;
}
.uppercase {
    text-transform: uppercase!important;
}

.profile-stat-text {
    color: #5b9bd1;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}
.profile-desc-title {
    color: #7f90a4;
    font-size: 17px;
    font-weight: 600;
}
.profile-desc-text {
    color: #7e8c9e;
    font-size: 14px;
}
.margin-top-20 {
    margin-top: 20px!important;
}
[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}
.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px;
}
</style>

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-userpic">
					<img src="{{ items.item_list.profile_pic.url }}" class="img-responsive" alt="">
				</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ auth }}
					</div>
					<div class="profile-usertitle-job">
						Chef
					</div>
				</div>
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="#">
							<i class="fa fa-list" aria-hidden="true"></i>
							List Of Items</a>
						</li>
                        <li>
							<a href="#" data-toggle="modal" data-target="#settings">
							<i class="fa fa-user" aria-hidden="true"></i>
							Add Profile </a>
						</li>
						<li>
							<a href="#" data-toggle="modal" data-target="#settings">
							<i class='fas fa-user-edit'></i>
							Edit Profile </a>
						</li>
					</ul>
				</div>
	   
<div class="portlet light bordered">
        <div class="row list-separated profile-stat">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title"> 37 </div>
                <div class="uppercase profile-stat-text"> Followers</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title"></div>
                <div class="uppercase profile-stat-text"></div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">2 </div>
                <div class="uppercase profile-stat-text"> Uploads </div>
            </div>
        </div>
        <div>
            <h4 class="profile-desc-title">About</h4>
            <span class="profile-desc-text"> Trained professional cook and tradesman who is proficient in all aspects of food preparation, often focusing on a particular cuisine. </span>
        <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-globe"></i>
            <a href="#">com</a>
        </div>
        <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-twitter"></i>
            <a href="#">@</a>
        </div>
        <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-facebook"></i>
            <a href="#"></a>
        </div>
        </div>
</div>                   
</div>
</div>
    <div class="col-md-9">
        <div class="profile-content">
            <div class="container-fluid text-right clearfix" style="margin:10px;">
    <h4 style="float: left;margin-left: -22px;">Recipes List </h4>
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addrecipe">
        Add
    </button>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"> </div>
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Author</th>
            <th>Image</th>
            <th>Item Name</th>
            <th>Preparation Time</th>
            <th>Cooking Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.item_list.author }}</td>
            <td><img src="{{ item.item_list.food_image.url }}" alt="image-{{ item.item_list.item_name }}" width="100" height="110" /></td>
            <td>{{ item.item_list.item_name }}</td>
            <td>{{ item.item_list.preparation_time }}</td>
            <td>{{ item.item_list.cooking_time }}</td>
            <td data-toggle="tooltip" title="Click to edit">
                <a href="#" data-toggle="modal" data-target="#editrecipe{{ item.item_list.id }}">
                    <i class="fa fa-edit" ></i> 
                </a>
                <a title="View Recipe" href="#"  data-toggle="modal" data-target="#viewrecipe{{ item.id }}">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="addrecipe" tabindex="-1" role="dialog" aria-labelledby="addrecipeLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addrecipeLabel">Add Recipes</h5>
            </div>
            <form action="" name="addrecp" id="addrecp" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="author">Author Name<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="author" name="author" value=""required />
                        </div>
                        <div class="col-md-3">
                            <label for="profile_pic">Upload Profile Pic</label>
                            {{ form.profile_pic }}
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-md-3">
                            <label for="item_name">Item Name<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="item_name" name="item_name" value=""required />
                        </div>
                        <div class="col-md-2">
                            <label for="servings">Servings<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="servings" name="servings" value="">
                        </div>
                        <div class="col-md-3">
                            <label for="preparation_time">Preparation Time<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="preparation_time" name="preparation_time" value="">
                        </div>
                        <div class="col-md-3">
                            <label for="cooking_time">Cooking Time<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="cooking_time" name="cooking_time" value="">
                        </div>
                        <div class="col-md-3">
                        <br>
                            <label for="item_type">Type<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="item_type" name="item_type" value="">
                        </div>
                        <div class="col-md-2">
                        <br>
                            <label for="description">Upload Image<span style="color:red;">*</span></label>
                            {{ form.food_image }}
                        </div>
                    </div>
                    <div class="row">
                    <br>
                        <div class="col-md-6">
                        <br>
                            <label for="ingredients">Ingredients<span style="color:red;">*</span></label>
                            <textarea wrap="off" name="ingredients" id="ingredients" cols="30" rows="5"></textarea>
                        </div>
                        <div class="col-md-6">
                        <br>
                            <label for="description">Direction<span style="color:red;">*</span></label>
                            <textarea wrap="off" name="direction" id="direction" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save">Add</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% for item in items %}
<div class="modal fade" id="editrecipe{{item.item_list.id}}" tabindex="-1" role="dialog" aria-labelledby="editrecipeLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editrecipeLabel">Edit Recipe</h5>
            </div>
            <form action="/edititems/{{ item.item_list.id }}/" name="editrecp" id="editrecp" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="author">Author Name<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="author" name="author" value="{{ item.item_list.author }}"required />
                        </div>
                        <div class="col-md-3">
                            <label for="profile_pic">Upload Profile Pic</label> 
                            <input type="text" class="form-control" id="profile_pic" name="profile_pic" value="{{ item.item_list.profile_pic }}">    
                        </div>
                        {% comment %} <div class="col-md-3">
                        <br>
                            <label>{{ form.profile_pic }}</label>
                        </div> {% endcomment %}
                    </div>
                    <div class="row">
                    <br>
                        <div class="col-md-4">
                            <label for="item_name">Item Name<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="item_name" name="item_name" value="{{ item.item_list.item_name }}"required />
                        </div>
                        <div class="col-md-2">
                            <label for="servings">Servings<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="servings" name="servings" value="{{ item.item_list.servings }}">
                        </div>
                        <div class="col-md-3">
                            <label for="preparation_time">Preparation Time<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="preparation_time" name="preparation_time" value="{{ item.item_list.preparation_time }}">
                        </div>
                        <div class="col-md-3">
                            <label for="cooking_time">Cooking Time<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="cooking_time" name="cooking_time" value="{{ item.item_list.cooking_time }}">
                        </div>
                        <div class="col-md-3">
                         <br>
                            <label for="item_type">Type<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="item_type" name="item_type" value="{{ item.item_list.item_type }}">
                        </div>
                        <div class="col-md-3">
                        <br>
                            <label for="food_image">Upload Image<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="food_image" name="food_image" value="{{ item.item_list.food_image }}">
                        </div>
                        {% comment %} <div class="col-md-3">
                        <br><br>
                            <label>{{ form.food_image }}</label>
                        </div> {% endcomment %}
                    </div>
                    <div class="row">
                    <br>
                        <div class="col-md-6">
                        <br>
                            <label for="ingredients">Ingredients<span style="color:red;">*</span></label>
                            <textarea wrap="off" name="ingredients" id="ingredients" value="" cols="30" rows="5">{{ item.item_list.ingredients }}</textarea>
                        </div>
                        <div class="col-md-6">
                        <br>
                            <label for="direction">Direction<span style="color:red;">*</span></label>
                            <textarea wrap="off" name="direction" id="direction" value="" cols="30" rows="5">{{ item.item_list.direction }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editsave">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %} 
{% for item in items %}
<div class="modal fade" id="viewrecipe{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="viewrecipeLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewrecipeLabel">Recipe of {{ item.item_list.item_name }}</h5>
            </div>
            <form action="" name="viewrecp" id="viewrecp" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ item.item_list.food_image.url }}" style="align:center;" alt="image-{{ item.item_list.item_name }}" width="140" height="160" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        <br>
                        <label>Item Name :</label> 
                        {{ item.item_list.item_name }}
                        </div>
                        <div class="col-md-2">
                        <br>
                        <label>Servings :</label> 
                        {{ item.item_list.servings }}
                        </div>
                        <div class="col-md-3">
                        <br>
                        <label>Prep Time :</label> 
                        {{ item.item_list.preparation_time }}
                        </div>
                        <div class="col-md-3">
                        <br>
                        <label>Cooking Time :</label> 
                        {{ item.item_list.cooking_time }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <br>
                        <label>Ingredients :</label>
                        {{ item.item_list.ingredients }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <br>
                        <label>Direction :</label>
                        {{ item.item_list.direction }}
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %} 
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="settingsLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="" name="addrecp" id="addrecp" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="author">Author Name<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="author" name="author" value=""required />
                        </div>
                        <div class="col-md-3">
                            <label for="profile_pic">Upload Profile Pic</label>
                            {{ form.profile_pic }}
                        </div>
                    </div>
                    <div class="row">
                    <br>
                        <div class="col-md-6">
                        <br>
                            <label for="ingredients">About You<span style="color:red;">*</span></label>
                            <textarea wrap="off" name="ingredients" id="ingredients" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-md-3">
                            <label for="item_name"><i class="fa fa-globe"></i></label>
                            <input type="text" class="form-control" id="item_name" name="item_name" placeholder="www.example.com"required />
                        </div>
                        <div class="col-md-3">
                            <label for="servings"><i class="fa fa-twitter"></i></label>
                            <input type="text" class="form-control" id="servings" name="servings" placeholder="Twitter Account">
                        </div>
                        <div class="col-md-3">
                            <label for="servings"><i class="fa fa-facebook"></i></label>
                            <input type="text" class="form-control" id="servings" name="servings" placeholder="Facebook Account">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
$('textarea').autoResize();
</script>
{% endblock%}