{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <!-- Title Page-->
    <title>Foodie's Blog</title>

    <!-- Main CSS-->
    <link href="{% static 'css/main.css'%}" rel="stylesheet" media="all">
    <style>
        .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'app:home'  %}">Foodie's Blog</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'app:recipe' %}">Recipes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'app:register' %}">Sign up</a></li>
            {% if user.is_authenticated %}
             <li><a href="{% url 'app:logout' %}">Sign out</a></li>
            {% comment %} {% else %}
             <<li><a href="{% url 'app:login'  %}">Sign In</a></li> {% endcomment %}
            {% endif %}
            </ul>
        </div>
    </nav>
{% block content %}{% endblock %}
  <!-- Footer -->
  <div class="footer">
    <p>Copyright &copy; Food Blog 2020</p>
  </div>
</body>
</html>

{% comment %} https://www.kindmeal.my/recipes.htm?gclid=EAIaIQobChMI-fzV4o2t5wIV0BSPCh0QXwGsEAAYASAAEgLk8PD_BwE {% endcomment %}