{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">

    <!-- Required meta tags-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <!-- Title Page-->
    <title>Foodie's Blog</title>

    <!-- Main CSS-->
    <link href="{% static 'css/main.css'%}" rel="stylesheet" media="all">
    <style>
        .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'app:home'  %}">Foodie's Blog</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'app:recipe' %}">Recipes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'app:register' %}">Sign up</a></li>
            {% if user.is_authenticated %}
             <li><a href="{% url 'app:logout' %}">Sign out</a></li>
            {% else %}
             <<li><a href="{% url 'app:login'  %}">Sign In</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
{% block content %}{% endblock %}
  <!-- Footer -->
  {% comment %} <div class="footer">
    <p>Copyright &copy; Food Blog 2020</p>
  </div> {% endcomment %}
  
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script> {% endcomment %}
    {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script> {% endcomment %}
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.js"></script> {% endcomment %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    {% comment %} <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script> {% endcomment %}
    {% comment %} <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script> {% endcomment %}
    {% comment %} <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script> {% endcomment %}

  <script>
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('inactive');
      });

      var table = $('#example').DataTable( {
        responsive: true
      } );
  
      new $.fn.dataTable.FixedHeader( table );
    });  
  </script>

</body>
</html>

{% comment %} https://www.kindmeal.my/recipes.htm?gclid=EAIaIQobChMI-fzV4o2t5wIV0BSPCh0QXwGsEAAYASAAEgLk8PD_BwE {% endcomment %}