{% extends 'base.html' %}
{% load static %}
{% block content  %}
<div class="container-fluid text-right clearfix" style="margin:10px;">
    <h4 style="float: left;margin-left: -22px;">Recipe List </h4>
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addrecipe">
        Add
    </button>
</div>
<div class="card" style="margin: 10px 0px 10px 0px;"> </div>
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Author</th>
            <th>Image</th>
            <th>Item Name</th>
            <th>Servings</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.author }}</td>
            <td><img src="{{ item.food_image.url }}" alt="image-{{ item.item_name }}" width="100" height="110" /></td>
            <td>{{ item.item_name }}</td>
            <td>{{ item.servings }}</td>
            <td>{{ item.time }}</td>
            <td data-toggle="tooltip" title="Click to edit">
                <a href="#" data-toggle="modal" data-target="#editrecipe{{ item.id }}">
                    <i class="fa fa-edit" >Edit</i> 
                </a>
                <a title="View Recipe" href="#"  data-toggle="modal" data-target="#viewrecipe{{ item.id }}">
                    <i class="fa fa-link fa-lg" aria-hidden="true">View</i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="addrecipe" tabindex="-1" role="dialog" aria-labelledby="addrecipeLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addrecipeLabel">Add Recipes</h5>
            </div>
            <form action="" name="addrecp" id="addrecp" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="author">Author Name<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="author" name="author" value=""required />
                        </div>
                        <div class="col-md-3">
                            <label for="profile_pic">Upload Profile Pic<span style="color:red;">*</span></label>
                            {{ form.profile_pic }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="item_name">Item Name<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="item_name" name="item_name" value=""required />
                        </div>
                        <div class="col-md-3">
                            <label for="servings">Servings<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="servings" name="servings" value="">
                        </div>
                        <div class="col-md-3">
                            <label for="time">Time<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="time" name="time" value="">
                        </div>
                        <div class="col-md-2">
                            <label for="description">Upload Image<span style="color:red;">*</span></label>
                            {{ form.food_image }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <br>
                            <label for="ingredients">Ingredients<span style="color:red;">*</span></label>
                            <textarea wrap="off" name="ingredients" id="ingredients" cols="30" rows="5"></textarea>
                        </div>
                        <div class="col-md-6">
                        <br>
                            <label for="description">Direction<span style="color:red;">*</span></label>
                            <textarea wrap="off" name="direction" id="direction" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save">Add</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% for item in items %}
<div class="modal fade" id="editrecipe{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="editrecipeLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editrecipeLabel">Edit Recipe</h5>
            </div>
            <form action="/edititems/{{ item.id }}/" name="editrecp" id="editrecp" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="author">Author Name<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="author" name="author" value="{{ item.author }}"required />
                        </div>
                        <div class="col-md-3">
                            <label for="profile_pic">Upload Profile Pic<span style="color:red;">*</span></label> 
                            <input type="text" class="form-control" id="profile_pic" name="profile_pic" value="{{ item.profile_pic }}">    
                        </div>
                        <div class="col-md-3">
                        <br>
                            <label>{{ form.profile_pic }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="item_name">Item Name<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="item_name" name="item_name" value="{{ item.item_name }}"required />
                        </div>
                        <div class="col-md-3">
                            <label for="servings">Servings<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="servings" name="servings" value="{{ item.servings }}">
                        </div>
                        <div class="col-md-3">
                            <label for="time">Time<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="time" name="time" value="{{ item.time }}">
                        </div>
                        <div class="col-md-4">
                            <label for="food_image">Upload Image<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="food_image" name="food_image" value="{{ item.food_image }}">
                        </div>
                        <div class="col-md-3">
                        <br>
                            <label>{{ form.food_image }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <br>
                            <label for="ingredients">Ingredients<span style="color:red;">*</span></label>
                            <textarea wrap="off" name="ingredients" id="ingredients" value="" cols="30" rows="5">{{ item.ingredients }}</textarea>
                        </div>
                        <div class="col-md-6">
                        <br>
                            <label for="direction">Direction<span style="color:red;">*</span></label>
                            <textarea wrap="off" name="direction" id="direction" value="" cols="30" rows="5">{{ item.direction }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editsave">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %} 
{% for item in items %}
<div class="modal fade" id="viewrecipe{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="viewrecipeLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewrecipeLabel">View Recipe</h5>
            </div>
            <form action="" name="viewrecp" id="viewrecp" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ item.food_image.url }}" style="align:center;" alt="image-{{ item.item_name }}" width="140" height="160" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                        <br>
                        <label>Item Name :</label> 
                        {{ item.item_name }}
                        </div>
                        <div class="col-md-3">
                        <br>
                        <label>Servings :</label> 
                        {{ item.servings }}
                        </div>
                        <div class="col-md-3">
                        <br>
                        <label>Cooking Time :</label> 
                        {{ item.time }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <br>
                        <label>Ingredients :</label>
                        {{ item.ingredients }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <br>
                        <label>Direction :</label>
                        {{ item.direction }}
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %} 
<script>
$('textarea').autoResize();
</script>
{% endblock%}