{% extends 'base.html' %}
{% load static %}
{% block content  %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #111;
  text-align: right;
}
</style>
<div class="container">
        <form action="{% url 'app:login' %}" method="post">
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Sign In</div>
                    <div class="panel-body">
                        {% if error_message %}
                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        {% endif %}
                        <div class="form-group clearfix">
                            <label for="username" class="col-md-4 control-label text-right">Username :</label>
                            <div class="col-md-6">
                                <input type="text" name="username" placeholder="Enter Username">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="password" class="col-md-4 control-label text-right">Password :</label>
                            <div class="col-md-4">
                            <input type="password" id="password" name="password" placeholder="Enter Password">
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-4">
                            <input type="submit" value="Sign In" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<div class="footer">
  <div class="footer-copyright text-center py-3" style="color:white;">Copyright © Food Blog 2020
  </div>
</div>
{% endblock%}