{% extends 'base.html' %}
{% load static %}
{% block content  %}
<div class="container">
        <form action="{% url 'app:login' %}" method="post">
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Sign In</div>
                    <div class="panel-body">
                        {% if error_message %}
                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        {% endif %}
                        <div class="form-group clearfix">
                            <label for="username" class="col-md-4 control-label text-right">Username :</label>
                            <div class="col-md-6">
                                <input type="text" name="username" placeholder="Enter Username">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="password" class="col-md-4 control-label text-right">Password :</label>
                            <div class="col-md-4">
                            <input type="password" id="password" name="password" placeholder="Enter Password">
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-4">
                            <input type="submit" value="Sign In" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock%}

                {% comment %} <div class="form-group">
                    {% if messages %}
                        <ul class="messages">
                    {% for message in messages %}
                        <li style="color:red;font-size:20px;text-align:center;">
                        <div class= "alert alert-custom fade in alert-dismissable show" style="color:red;font-size:20px;">{{ message }} </div>
                        </li>
                    {% endfor %}
                        </ul>
                    {% endif %}
                </div> {% endcomment %}