{% extends 'base.html' %}
{% load static %}
{% block content%}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #111;
  text-align: right;
}
</style>
<div class="container">
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td><img src="{{ item.food_image.url }}" alt="image-{{ item.item_name }}" width="140" height="160" /></td>
            <td>
              <ul>
                <li>Item Name : {{ item.item_name }}</li>
                <li>Servings : {{ item.servings }}</li>
                <li>Preparation Time : {{ item.preparation_time }}</li>
                <li>Cooking Time : {{ item.cooking_time }}</li>
              </ul>
            </td>
            <td><a href="{% url 'app:viewrecipe' item.id %}"><button type="button" class="btn btn-primary">View</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="footer">
  <div class="footer-copyright text-center py-3" style="color:white;">Copyright © Food Blog 2020
  </div>
</div>
{% endblock%}
